<!DOCTYPE html>
<html lang="en">
<head>
    <title>MOOC - Course Selector</title>

    <!-- Favicon -->   
    <link href="img/favicon.png" rel="shortcut icon"/>
    
    <!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="css/bootstrap.min.css"/>
	<link rel="stylesheet" href="css/font-awesome.min.css"/>
	<link rel="stylesheet" href="css/flaticon.css"/>
	<link rel="stylesheet" href="css/owl.carousel.css"/>
    <link rel="stylesheet" href="css/style.css"/>
</head>

<body background="res/bg1.jpg" >
        <!-- Header section -->
        
	<header class="header-section">
            <div class="header-warp">
                <div class="container">
                    <a href="#" class="site-logo">
                        <img src="res/logo.png" alt="site-logo">
                    </a>
                    <div class="nav-switch">
                        <i class="fa fa-bars"></i>
                    </div>
                    <ul class="main-menu">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About us</a></li>
                        <li><a href="courses.html">Courses</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
            </div>
        </header>
        <!-- Header section end -->
</body>